body {
    max-width: 960px;
    margin: auto;
    padding: 5%;
    font-family: ff-ernestine-pro, serif;
    font-weight: lighter;
    background-color: blanchedalmond;
}

header, h1 {
    border-bottom: 3px solid rgb(221, 158, 103);
}

header {
    padding-bottom: 2rem;
    overflow: hidden;
}

header ul {
    padding-left: 0;
    margin-left: 0px;
}

h1 {
    /* font-style: italic; */
    text-align: center;
    /* font-size: 4rem; */
    font-weight: lighter;
    font-size: 6vw;
}

.display-font {
    font-family: blenny, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-size: 7vw;
}

@media (min-width: 1066px) {
    .display-font {
        font-size: 74.62px;
    }
    h1 {
        font-size: 63.96px;
    }
}

.label {
    display: block;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 70px;
}

ul, ol {
    margin-left: -10px;
}

li {
    list-style-type: none;
}


@media (min-width: 640px) {
    header img {
        float: right;
        margin: 0rem 0rem 2rem 1.5rem;
        width: 50%;
    }

}

@media (max-width: 820px) {
    header img {
        float: right;
        margin: 0rem 0rem 1.5rem 1.5rem;
        width: 50%; 
    }
}

@media (max-width: 700px) {
    header img {
        width: 100%;
        margin-bottom: 1rem;
    } 
}


main {
    padding-top: 2rem;
}

.ingredient, .amount {
    display: inline-block;
    vertical-align: top;
}

.amount {
    width: 57px;
    text-align: right;
    font-weight: bold;
}

.ingredient {
    width: 70%;
    padding-left: 5px;
}

.ingredients li {
    display: block;
    margin-bottom: .5rem;
}

.Preparation h4{
    margin-bottom: .5rem;
}

@media (min-width: 640px){
    main {
        display: flex;
    }
    main > * {
        width: 50%;
    }
    section.Preparation {
        float: right;
    }
}

@media (max-width: 640px) {
    section.ingredients {
        padding-bottom: 2rem;
        border-bottom: 3px solid rgb(221, 158, 103);
    }
    section.Preparation {
        padding-top: 2rem;
    }
    .ingredient-name {
        width: 300px;
    }
}


footer {
    margin-top: 7rem;
    border-top: 3px solid rgb(221, 158, 103);
    padding-top: 2rem;
}

a {
    color: peru;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
