body {
    max-width: 960px;
    margin: auto;
    padding: 5%;
    font-family: ff-ernestine-pro, serif;
    font-weight: lighter;
    /* background: linear-gradient(180deg, peachpuff, white); */
}

article {
    max-width: 600px;

}

h1 {
    font-family: blenny, sans-serif;
    font-size: 4rem;
    border-bottom: 1px solid black;
}

@media (max-width: 900px) {
    h1 {
        font-size: 3rem;
        line-height: 3rem;
        padding-bottom: 1rem;
    }
}



header {
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

main {
    padding-top: 2rem;
}

img {
    display: block;
    max-width: 100%;
    margin-top: 1rem;
}

@media (min-width: 900px) {
    ul.intro {
        display: flex;
    }
    ul.intro > * {
        width: 50%;
    }
    img {
        margin-left: 1rem;
        margin-top: 0;
    }
}



ul {
    margin-left: -10px;
}

header ul {
    padding-left: 0px;
    margin-left: 0px;
}

li {
    list-style-type: none;
}


.ingredients li {
    display: block;
    margin-bottom: .5rem;
}


.step-number {
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

.step-number::after {
    content: "\a" ;
    white-space: pre;
    line-height: 2rem;
}

.label {
    display: block;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 70px;
}

section.preparation ol{
    display: block;
    padding: 0;
}

section.ingredients ul {
    padding-right: 1rem;
}

@media (min-width: 640px){
    section.instructions {
        display: flex;
    }
    section.instructions > * {
        width: 50%;
    }
    section.preparation {
        float: right;
    }
}

@media (max-width: 640px) {
    section.ingredients {
        padding-bottom: 2rem;
        border-bottom: 1px solid black;
    }
    section.preparation {
        padding-top: 2rem;
    }
    .ingredient-name {
        width: 300px;
    }
}






footer {
    margin-top: 7rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


.quantity {
    width: 57px;
    text-align: right;
    font-weight: bold;
}

.ingredient-name {
    width: 70%;
    padding-left: 5px;
}


.ingredient-name, .quantity {
    display: inline-block;
    vertical-align: top;
}


