.character {
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

.subheader {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}