header{
    margin-bottom: 3rem
}
p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

h1, h2 {
    font-weight: 300;
}

section.cast img {
    width: 100%;
}

section.cast li{
    width: 25%;
}

li h1::before {
    content: '';
    border-style: solid;
    border-top: black, 1px;
    position: absolute;
    margin-top: -30px;
    width: 100%;
}

.selected {
    font-weight: bold;
    color: black
}

.cast div{
    font-size: 0.8rem;
}

div:first-of-type{
    font-weight: bold;
}

div:nth-of-type(2) {
    font-style: italic;
}

.seasons li:last-of-type::after {
    content: '*'
}

.seasons::after{
    font-size: 0.7rem;
    color: #999;
    content: '*Final Season'
}
