html {
    max-width: 1400px;
    margin: auto;
    padding: 5%;
    background-color: black;
    cursor: url('https://img.icons8.com/ios-glyphs/32/FFFFFF/rocket.png'), auto;
    color: white;
}

body {
    font-family: BD Jupiter, sans-serif;
}

p {
    font-family: base-mono-wide, monospace;
    font-weight: 300;
}

header h1 {
    font-family: bd-geminis, sans-serif;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-align: center;
    border-bottom: solid 4px white;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

h1.title {
    font-size: 10vw;
    font-family: bd-geminis, sans-serif;
    line-height: 100%;
}


main {
    padding-bottom: 20vw;
}

main h1 {
    font-size: 8vw;
    font-family: bd-geminis, sans-serif;
    line-height: 100%;
    white-space: nowrap;
}


.nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav li {
    display: inline-block;
}

.nav li a {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    display: block;
    padding: 30px 40px 30px 40px;

}

@media (max-width: 1048px) {
    /* h1 {
        text-align: left;
    } */
    .nav ul {
        text-align: left;
    }
    .nav li {
        display: block;
    }
    .nav li a {
        padding-left: 0;
        padding-top: 0;
    }
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.nav a:hover {
    text-decoration: underline;
}

a.galaxy:hover {
    text-decoration: none;
}

a.current {
    position: relative;
}

.current img.icon {
    position: absolute;
    bottom: 16px;
}


img {
    max-width: 100%;
}

p {
    display: block;
    max-width: 400px;
    line-height: 1.25rem;
}



/* Main Page */

.intro img.main.gif {
    top: 15%;
}

div.galaxy {
    background-image: url(file:///Users/kaitlynstansbury/Documents/ifsummer2020/publish/microsite/www/images/Main-page-galaxy.png);
    background-repeat: no-repeat;
    padding: 50% 0% 20% 0%;
    background-size: 100%;
}

div.milky-way {
    background-image: url(file:///Users/kaitlynstansbury/Documents/ifsummer2020/publish/microsite/www/images/Milky-way.png);
    background-repeat: no-repeat;
    padding: 75% 0% 0% 0%;
    background-size: 100%;

}


/* Types of Galaxies */

section.intro p {
    display: block;
    margin-bottom: .5vw;
}


section.intro {
    margin-bottom: 1vw;
}

img.hubble {
    width: 100%
}

/* section.ellipticals {
    background-image: url(file:///Users/kaitlynstansbury/Documents/ifsummer2020/publish/microsite/First-Draft/images/elliptical.png);
    background-repeat: no-repeat;
    padding: 10% 100% 80% 0%;
    background-size: 100%;
    min-width: 400px;
} */


/* section.spirals {
    background-image: url(file:///Users/kaitlynstansbury/Documents/ifsummer2020/publish/microsite/First-Draft/images/spiral.png);
    background-repeat: no-repeat;
    padding: 20% 80% 80% 0%;
    background-size: cover;
    min-width: 400px;
} */

/* section.irregulars {
    background-image: url(file:///Users/kaitlynstansbury/Documents/ifsummer2020/publish/microsite/First-Draft/images/irregular.png);
    background-repeat: no-repeat;
    padding: 20% 80% 80% 0%;
    background-size: cover;
    min-width: 400px;
} */






/* Formation and Evolution */

/* .formation{
    background-image: url;
    background-repeat: no-repeat;
    background-size: 200%;
} */

.intro h1 {
    position: relative;
}

.intro img.gif {
    position: absolute;
    width: 50%;
    bottom: 5%;
    right: -5%;
}

.formation h1, .evolution h1 {
    position: relative;
}

.formation img.gif, .evolution img.gif {
    position: absolute;
    width: 20%;
    bottom: 10%;
    right: 25%;
}



/* Nearby Galaxies */

table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}



footer {
    border-top: solid 4px white;
    padding-top: 2rem;
    margin-top: 4rem;
}

footer p {
    font-size: .75rem;
    line-height: 1rem;
}



a.back-to-top img{
    position: fixed;
    bottom: 2vw;
    right: 1vw;
    z-index: 99;
    width: 20vw;
    font-size: 1rem;
    text-decoration: none;
    fill: yellow;
}

